Website/.next/*
Website/node_modules/*
Website/.DS_Store
Website/components/.DS_Store
Website/components/functional-ui/.DS_Store
Website/helpers/.DS_Store
Website/helpers/redux/.DS_Store
Website/layouts/.DS_Store
Website/pages/.DS_Store
Website/pages/api/.DS_Store
Website/pages/dashboard/.DS_Store
Website/pages/payment-response/.DS_Store
Website/pages/web-app/.DS_Store
Website/public/.DS_Store
Website/public/css/.DS_Store
Website/public/uploads/.DS_Store
Website/public/website/.DS_Store
Website/public/website/assets/.DS_Store
Website/public/website/assets/images/.DS_Store
Website/src/.DS_Store
